body {
  background-color: rgb(224, 52, 52);
}

hr {
  border-color: tomato;
  border-width: 10px;
  border-style: none;
  border-top-style: ridge;
  height: 0px;
  width: 100%;
}
h3 {
  color: rgb(120, 8, 35);
}
h4 {
  color: rgb(212, 96, 123);
}

#head_OR {
  color:rgb(120, 8, 35) ;
}

#yellowmogus {
  width: 20%;
}