body {
  background-color: rgb(0, 0, 0);
}

hr {
  border-color: none;
  border-width: 20px;
  border-style: none;
  border-top-style: ridge;
  height: 0px;
  width: 100%;
}
h3 {
  color: blanchedalmond;
}
h4 {
  color: blanchedalmond;
}

#head_OR {
  color: blanchedalmond ;
}

#yellowmogus {
  width: 20%;
}
p {
  color: blanchedalmond;
}
label {
  color: blanchedalmond;
}
marquee {
  color: blanchedalmond;
}